a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 100px;
    background-color: #E4F9F5;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

body span {
    text-decoration: underline;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    color: #66BFBF;
}

h2 {
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    /* Supposed to be 40px 40/16 = 2.5    1rem =16px */
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
}

h3 a {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.top-cloud {
    margin-left: 300px;
}

.img {
    position: relative;
    height: 500px;
}

.bottom-cloud,
.mountain {
    position: absolute;
}

.bottom-cloud {
    top: 100px;
    left: 650px;
}

.mountain {
    bottom: 0;
    left: 700px;
}

.middle-container .profile img,
.www {
    width: 200px;
    height: 200px;
}

table {
    margin: 0 auto;
}

.bottom-container a {
    color: #11999E;
}