/*  header part start */

.topbar-wrapper {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #333;
}

.services li {
    float: left;
    margin-left: 8px;
}

.services .nofollow {
    display: inline-block;
    color: #d0d0d0;
    font-size: 12px;
}

.services .line {
    color: #424242;
}

.services li a:hover {
    color: #fff;
}

.shop-cart,
.user-info li {
    font-size: 12px;
    float: right;
}

.user-info li {
    margin-left: 8px;
}

.shop-cart li a {
    display: inline-block;
    width: 120px;
    background-color: #424242;
    text-align: center;
}


/*ul----when mouseover the  small container should not be disappeared so hover in the ul*/

.shop-cart:hover a {
    background-color: #fff;
    color: #ff6700;
}